@charset "UTF-8";

html {
	min-height: 100%;
	height: 100%;
	background-color: #d4dadf;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: auto;
	margin: 0 auto !important;
	min-width: 320px;
	max-width: 414px;
	min-height: 100%;
	min-height: 100vh;
	background-color: #cee8fb;
}

.image_wrapper {
	display: flex;
	justify-content: space-around;
}

.image_wrapper h2 {
	
}

.filebox label {
	display: flex;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}